<% if !user_signed_in? %>
<div class="nav-item">
  <%= link_to "Login", new_user_session_path, class: "nav-link" %>
</div>
<% else %>
<% end %>

<div class="container mt-4">
  <% if current_user.email != "constantin.natacha@gmail.com" %>
    <div> Accès non autorisé !</div>
    <%= link_to "revenir à la page d'accueil", root_path %>
  <% else %>
    <div class="welcome">
    Bienvenue <%=current_user.first_name %> sur la partie Admin de Lexplore !

    <br>
    <br>

    <%= link_to "Créer un nouveau coach", new_coach_path, class: 'btn btn-primary' %>
    <%= link_to "Revenir à l'accueil", root_path, class: 'btn btn-primary' %>
    <% end %>
    </div>

    <div class="text-center mt-4"> <strong style="font-size: 30px;">COACHS</strong> </div>

    <div class="flex-wrap">

      <% @coaches.each do |coach| %>

        <div class="flex-child coach-card">
        <div class="coach-name">
          <%= coach.name %>
        </div>
        <%= image_tag(cl_image_path coach.photo.key, height: 400, width: 400, class: "", :crop => :fill) %>
        </div>

      <% end %>

    </div>
</div>
