<div class="container-login">
  <div style="margin: 50px 300px;">
    <div class="cards-login">
      <div class="h2">Crée ton coach !</div>
        <div class="info-log">
          <%= simple_form_for [@coach] do |f| %>
            <%= f.input :name, as: :text, placeholder: "Quel est le nom du coach ?" %>
            <%= f.input :description, as: :text, placeholder: "Ta description en quelques lignes" %>
            <%= f.input :about_me, as: :text, placeholder: "A propos de toi" %>
            <%= f.input :diplomes, as: :text, placeholder: "Diplomes" %>
            <%= f.input :photo, as: :file %>

            <div class="center">
              <%= f.submit class:"btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
